.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
h1 {
    font-family: 'Exo2', sans-serif;
    text-align: center;
    font-size: 400%;
    color: white;
    text-shadow: 6px 0 0 black;
}
h2 {
    font-size: 200%;
    text-shadow: 6px 0 0 black;
    font-family: 'Reggae One', cursive;
    text-align: center;
    color: white;
}
.avatar {
    display: block;
    border: 2px solid pink;
    border-radius: 100%;
    width: 3%;
    height: 3%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: flex;
    z-index: 1;
}
html, body {
    height: auto;
    background: #1a65ae;
}
h3 {
    color: white;
    text-align: center;
    font-size: 200%;
    text-shadow: 5px 0 0 black;
}
hr {
    border-color: #00FFFF;
}
.animeposter1 {
    margin: auto;
    border: white;
    border-radius: 1em;
    cursor: pointer;
}
.animeposter2 {
    margin: auto;
    border: white;
    border-radius: 1em;
    cursor: pointer;
}
.animeposters {
    display: flex;
}
.posternames {
    display: flex;
}
.posternames2 {
    display: flex;
    margin: auto;
}
.anime_name {
    color:burlywood;
    font-size: 125%;
    text-shadow: 1px 1px 1px black;
    margin: auto;
    padding-left: 2.5%;
}
.soc-button-youtube {
    background: red;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
.soc-button-twitter {
    background: rgba(117, 180, 207);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
}
.soc-button-discord {
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
}
.social-networks-text {
    color: white;
    text-align: center;
    margin: auto;
    font-size: 25px;
}
.fab.fa-youtube-square {
    margin: auto;
    padding-right: 5px;
}
.fa.fa-twitter-square {
    margin: auto;
    padding-right: 5px;
}
.fab.fa-discord {
    margin: auto;
    padding-right: 5px;
}
.anime_short_description {
    text-align: center;
    width: 15%;
    margin-left: auto;
    margin-right: 18%;
    color: white;
}
.main-panel {
    background-color: #2C2F33;
    display: flex;
}
.main-button {
    background-color: #2C2F33;
    color: #00FFFF;
    font-size: 20px;
    border: unset;
    transition-duration: 0.5s;
    font-family: 'Exo2', sans-serif;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 2;
}
.main-hr {
    margin-top: 0;
}
.main-button-opacity {
    width: 15%;
    position: relative;
    margin-right: -15%;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}